################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Apriori/oneItems.txt
/.vs/Apriori/v15/Server/sqlite3
